@import "tailwindcss";

@theme inline {
  --font-sans: var(--inter-sans);
  --customGreen: hsl(75, 94%, 57%);
  --customWhite: hsl(0, 0%, 100%);
  --customGrey700: hsl(0, 0%, 20%);
  --customGrey800: hsl(0, 0%, 12%);
  --customGrey900: hsl(0, 0%, 8%);
}

body {
  font-family: Inter, sans-serif;
}
